@model WebProgProje.Models.FilmModel.Film

@{
    ViewData["Title"] = "Yazı Sil";
}

<h1>Sil</h1>

<h3>Bu yazıyı silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YaziGiris)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YaziGiris)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Etiket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Etiket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yazi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yazi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResimUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResimUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye geri dön</a>
    </form>
</div>
